* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  background-color: #ba1550;
}

.container {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* FORM */

.form {
  padding: 30px 95px;
  background-color: white;
  box-shadow: 5px 5px #880f39;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.ticket {
  padding: 30px 15px;
  background-color: white;
  box-shadow: 5px 5px #880f39;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  gap: 40px;
}

.input {
  text-align: center;
}

.input > :last-child {
  border: 1px solid #ba1550;
  border-radius: 5px;
  padding: 8px;
}

.input > :last-child:focus {
  outline: none;
  border: 2px solid #ba1550;
}

.title {
  color: white;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.button {
  background-color: lightgray;
  color: #ba1550;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 15px;
}

.button:hover {
  border-color: orange;
}

h5 {
  color: #ba1550;
  padding-bottom: 10px;
}

/* TICKET */

h3 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ticket-details {
  display: flex;
  gap: 27px;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
}

.ticket-title {
  font-weight: bold;
}

.ticket-title-b {
  margin-top: 10px;
  font-weight: bold;
}

.user {
  padding: 10px;
  background-color: grey;
  height: 120px;
}

.value {
  margin-top: 10px;
}
.value-b {
  margin-top: 60px;
}
